@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: rgb(248, 248, 195);
}
header{
	margin: auto;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(245, 245, 94, 1.0);
	display: flex;
	align-items: center;
	flex-direction: column;
	column-count: 2;
	justify-content:space-between;
	flex-wrap: wrap;
}

header p{
	display: flex;
	align-items: flex-end;
	justify-items: center;
	max-height: 200px;
}

.heading{
	height: 150px;
	display: flex;
	gap: 20px;
	padding-bottom: 20px;
	font-family: 'Playfair Display', serif;
}

.heading h1{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.5rem;
	color: darkred;
	letter-spacing: 5px;
	height: 50px;
	margin-top: 20px;
}

.heading h2{
	width: 100%;
	font-weight: lighter;
	font-size: 1rem;
	text-align: center;
	background-color: darkred;
	color:white;
	letter-spacing: 2px;
}
.heading-images{
    display: flex;
    justify-items: space-evenly;
    gap: 20px;
    padding-top: 20px;
}

a{
	text-decoration: none;
}

nav{
	background-color: red;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	border: none;
}

ul{
	list-style-type: none;
	display: flex;
}

li{
	margin-inline: 1px;
}

li a{
	display: block;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	padding: 0.5rem;
	color: whitesmoke;
}

li a:hover{
	color: red;
	background-color: white;
}

.brand h2{
	background-color: inherit;
	color: darkred;
	font-size: 1rem;
	border-bottom: 1px darkred solid;
	border-top: 1px darkred solid;
	padding: 0.25rem;
}
marquee{
	color: red;
	letter-spacing: 1px;
}

ul .login{
	align-self: right;
	display: flex;
	flex-direction: row;
}

footer{
	position: sticky;
	background-color: lightgrey;
	height: 200px; 
	position: relative;
	top:500px;
	bottom: 0px;
}

footer ul{
	padding-top: 1.5rem;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

footer img{
	height: 30px;
	width: 30px;
}

footer p{
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

/* index swiper */

.swiper {
    width: 1349px;
    height: 100%;
  }

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: rgba(177, 58, 58, 0.897);
    
}


.swiper-pagination-bullet-active {
    
    /* background: var(--swiper-pagination-color, var(--swiper-theme-color)); */
    opacity: 1;
    background-color: rgb(55, 206, 143);
    width: 3rem;
    height: 0.6rem;
    border-radius: 0.5rem;
}




.swiper-scrollbar-active{
    color: aquamarine;
}

/*Menu.html*/g


.menucard{
	display: flex;
	justify-content: space-around;
	font-family: 'Poppins', sans-serif;
 }

 .menu{
	background-color: white;
	border: orange 2px solid;
	width: 20%;
	height: 600px;

 }

 .menu{
	display: flex;
	flex-direction: column;
	justify-content: start;

 }

 .menu ul{

	font-size: 1.25rem;
	padding-top: 1rem;
	padding-left: 1rem;
	align-items: space-between;
 }

.itemlist{
	display: block;
}
 .menu h2{
	background-color: rgb(255, 123, 0);
	color: white;
	padding: 0.5rem;
	text-align: center;
	letter-spacing: 1px;
 }
 /* our history start */
.rockfort{
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rockfort h1{
	position: absolute;
	
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 100px;
	font-weight: bolder;
	text-shadow: 5px 5px 5px orangered;
}

.mkottai{
	opacity: 75%;
	width: 100%;
	height: 250px;
}

.history{
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;

}

/* our history end */


.branch-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 1.5rem;
	gap: 1.5rem;
}

.branches{
	width: 20%;
	height: 300px;
	border: purple 2px solid;
	background-color: white;
}

.branches img{
	width: 266px;
	height: 150px;
}

.branches h2{
	text-align: center;
	background-color: purple;
	padding: 5px;
}
/* branches start */




/* REgister */

form{
	margin-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: rgb(241, 189, 144);
	padding: 1rem;
}
